In [1]:
import pandas as pd

In [2]:
"""
we will start by importing the artists csv and clean it first before trying to join it to the other dataset
"""
df = pd.read_csv('artists.csv')

In [3]:
print(df.head(10))

          Artist   Streams   Daily   As lead      Solo As feature
0          Drake  85,041.3  50.775  57,252.6  32,681.6   27,788.7
1      Bad Bunny  67,533.0  44.820  40,969.6  23,073.0   26,563.4
2   Taylor Swift  57,859.0  85.793  55,566.7  50,425.7    2,292.4
3     The Weeknd  53,665.2  44.437  42,673.3  31,164.2   10,991.9
4     Ed Sheeran  47,907.7  17.506  42,767.9  33,917.0    5,139.8
5  Justin Bieber  47,525.7  18.868  27,988.0  17,183.9   19,537.7
6         Eminem  42,029.0  20.175  35,475.8  21,576.7    6,553.2
7  Ariana Grande  40,111.0  17.158  33,219.8  23,307.3    6,891.2
8       J Balvin  38,774.8  11.784  17,450.7   5,699.8   21,324.2
9    Post Malone  38,002.7  21.095  34,494.0  18,943.9    3,508.6

In [4]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Artist      3000 non-null   object
 1   Streams     3000 non-null   object
 2   Daily       2994 non-null   float64
 3   As lead     2984 non-null   object
 4   Solo        2931 non-null   object
 5   As feature  2662 non-null   object
dtypes: float64(1), object(5)
memory usage: 140.8+ KB
None

In [5]:
#we will remove any duplicates in our dataset.
df = df.drop_duplicates()

#we can also handle any missing values by dropping them
df = df.dropna()

In [6]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 2595 entries, 0 to 2999
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Artist      2595 non-null   object
 1   Streams     2595 non-null   object
 2   Daily       2595 non-null   float64
 3   As lead     2595 non-null   object
 4   Solo        2595 non-null   object
 5   As feature  2595 non-null   object
dtypes: float64(1), object(5)
memory usage: 141.9+ KB
None

In [7]:
# we have seen clearly that from the original 3000 rows we are now at 2595

In [8]:
df1 = pd.read_csv('spotify most streamed.csv')
print(df1.head())

                    Artist and Title        Streams      Daily
0       The Weeknd - Blinding Lights  3,783,983,806  1,736,378
1          Ed Sheeran - Shape of You  3,616,649,759  1,135,140
2  Lewis Capaldi - Someone You Loved  2,958,875,491  1,522,093
3            Post Malone - Sunflower  2,898,311,408  1,871,177
4         Tones And I - Dance Monkey  2,896,024,418    666,818

In [9]:
print(df1.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 0 to 2499
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Artist and Title  2500 non-null   object
 1   Streams           2500 non-null   object
 2   Daily             2497 non-null   object
dtypes: object(3)
memory usage: 58.7+ KB
None

In [10]:
"""
looking at our second dataset we see that the artist and title column have been joined, we can 
therefore try to split them so that we have a separate title column incase for future use 
"""
split_columns = df1['Artist and Title'].str.rsplit(' - ',n=1, expand=True)
df1['Artist'] = split_columns[0].str.strip()
df1['Title'] = split_columns[1].str.strip()

In [11]:
print(df1.head())

                    Artist and Title        Streams      Daily         Artist  \
0       The Weeknd - Blinding Lights  3,783,983,806  1,736,378     The Weeknd
1          Ed Sheeran - Shape of You  3,616,649,759  1,135,140     Ed Sheeran
2  Lewis Capaldi - Someone You Loved  2,958,875,491  1,522,093  Lewis Capaldi
3            Post Malone - Sunflower  2,898,311,408  1,871,177    Post Malone
4         Tones And I - Dance Monkey  2,896,024,418    666,818    Tones And I

               Title
0    Blinding Lights
1       Shape of You
2  Someone You Loved
3          Sunflower
4       Dance Monkey

In [12]:
#we can finally drop the artist and title column after finally separating the 2 
df1.drop('Artist and Title', axis=1, inplace =True)
print(df1.head())

         Streams      Daily         Artist              Title
0  3,783,983,806  1,736,378     The Weeknd    Blinding Lights
1  3,616,649,759  1,135,140     Ed Sheeran       Shape of You
2  2,958,875,491  1,522,093  Lewis Capaldi  Someone You Loved
3  2,898,311,408  1,871,177    Post Malone          Sunflower
4  2,896,024,418    666,818    Tones And I       Dance Monkey

In [13]:
#we can now clean this dataset
df1 = df1.drop_duplicates()
df1 = df1.dropna()

In [14]:
print(df1.info())

<class 'pandas.core.frame.DataFrame'>
Index: 2497 entries, 0 to 2499
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Streams  2497 non-null   object
 1   Daily    2497 non-null   object
 2   Artist   2497 non-null   object
 3   Title    2497 non-null   object
dtypes: object(4)
memory usage: 97.5+ KB
None

In [15]:
"""
we can now try to merge our 2 datasets first before continuing,
but we will have to first change the column name of our first dataset where we had streams to total streams
"""
df.rename(columns={'Streams' : 'Total Streams'}, inplace=True)
print(df.head())

         Artist Total Streams   Daily   As lead      Solo As feature
0         Drake      85,041.3  50.775  57,252.6  32,681.6   27,788.7
1     Bad Bunny      67,533.0  44.820  40,969.6  23,073.0   26,563.4
2  Taylor Swift      57,859.0  85.793  55,566.7  50,425.7    2,292.4
3    The Weeknd      53,665.2  44.437  42,673.3  31,164.2   10,991.9
4    Ed Sheeran      47,907.7  17.506  42,767.9  33,917.0    5,139.8

In [16]:
merged_df = pd.merge(df, df1, on='Artist', how='inner')

In [18]:
merged_df.to_csv('merged_2_datasets.csv', index=False)

In [19]:
print(merged_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2135 entries, 0 to 2134
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Artist         2135 non-null   object
 1   Total Streams  2135 non-null   object
 2   Daily_x        2135 non-null   float64
 3   As lead        2135 non-null   object
 4   Solo           2135 non-null   object
 5   As feature     2135 non-null   object
 6   Streams        2135 non-null   object
 7   Daily_y        2135 non-null   object
 8   Title          2135 non-null   object
dtypes: float64(1), object(8)
memory usage: 150.2+ KB
None

In [20]:
merged_df.rename(columns={
    'Total Streams': 'Total Artist Streams',
    'Daily_x': 'Artist Daily Average Streams',
    'Streams': 'Song Total Streams',
    'Daily_y': 'Song Daily Streams'
}, inplace=True)

In [21]:
print(merged_df.head())

  Artist Total Artist Streams  Artist Daily Average Streams   As lead  \
0  Drake             85,041.3                        50.775  57,252.6
1  Drake             85,041.3                        50.775  57,252.6
2  Drake             85,041.3                        50.775  57,252.6
3  Drake             85,041.3                        50.775  57,252.6
4  Drake             85,041.3                        50.775  57,252.6

       Solo As feature Song Total Streams Song Daily Streams           Title
0  32,681.6   27,788.7      2,770,548,672          1,461,772       One Dance
1  32,681.6   27,788.7      2,293,770,579            976,484      God's Plan
2  32,681.6   27,788.7      1,400,098,656            928,404    Passionfruit
3  32,681.6   27,788.7      1,324,734,035            278,754  In My Feelings
4  32,681.6   27,788.7      1,230,069,787            401,144   Hotline Bling

In [22]:
merged_df['Total Artist Streams'] = merged_df['Total Artist Streams'].str.replace(',','').astype(float) *1_000_000
print(merged_df.head())

  Artist  Total Artist Streams  Artist Daily Average Streams   As lead  \
0  Drake          8.504130e+10                        50.775  57,252.6
1  Drake          8.504130e+10                        50.775  57,252.6
2  Drake          8.504130e+10                        50.775  57,252.6
3  Drake          8.504130e+10                        50.775  57,252.6
4  Drake          8.504130e+10                        50.775  57,252.6

       Solo As feature Song Total Streams Song Daily Streams           Title
0  32,681.6   27,788.7      2,770,548,672          1,461,772       One Dance
1  32,681.6   27,788.7      2,293,770,579            976,484      God's Plan
2  32,681.6   27,788.7      1,400,098,656            928,404    Passionfruit
3  32,681.6   27,788.7      1,324,734,035            278,754  In My Feelings
4  32,681.6   27,788.7      1,230,069,787            401,144   Hotline Bling

In [25]:
#at this point I believe that our dataset is ready for EDA, we will save it again and use it for EDA in the next notebook.
merged_df.to_csv('final_combined_datasets.csv', index= False)